@import '../variables';

div.overlay {
  background: rgba(0, 0, 0, 0.45);
  align-items: center;
  justify-content: center;
}
div.modal {
  box-shadow: 0 9px 33px 0 rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  background: url(/border.svg) center bottom no-repeat;
  background-color: white;
  background-size: auto 90px;
  padding-bottom: 100px;
}
svg.closeIcon {
  fill: $water;
  width: 35px;
  height: 35px;
}
